<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Create User</title>
        <link rel="stylesheet" th:href="@{/crud.css}">
    </head>

    <body>

        <div class="container">

            <div class="header">
                <h2>Create New User</h2>
            </div>
            
            <form th:action="@{/submit}" th:object="${user}" method="post">
                
                <label>First Name</label>
                <input type="text" th:field="*{firstName}" required>

                <label>Last Name</label>
                <input type="text" th:field="*{lastName}" required>

                <label>Email</label>
                <input type="email" th:field="*{email}" required>

                <label>Role</label>
                <select th:field="*{role}" required>
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>
                    <option value="admin">Admin</option>
                </select>
                <button type="submit">Save User</button>
            </form>
        </div>
    </body>
</html>
