<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Update User</title>
<link rel="stylesheet" th:href="@{crud.css}">
</head>

<body>

<div class="container">

<div class="header">
<h2>Update User</h2>
</div>

<form th:action="@{/save}" th:object="${user}" method="post">

<input type="hidden" th:field="*{id}">

<label>First Name</label>
<input type="text" th:field="*{firstName}" required>
<label>Last Name</label>
<input type="text" th:field="*{lastName}" required>
<label>Email</label>
<input type="email" th:field="*{email}" required>
<label>Role</label>
<select th:field="*{role}" th:required>
<!--    <option th:each="role : ${user.roleList}"
          th:value="${role}"
          th:selected="${user.role} == ${role} ? true : false"
          th:text ="${role}">
    </option>-->
    <option value="student">Student</option>
    <option value="faculty">Faculty</option>
    <option value="admin">Admin</option>
</select>
<label>Status</label>
<select th:field="*{status}" th:required>
<!--    <option th:each="status : ${user.statusList}"
          th:value="${status}"
          th:selected="${user.status} == ${status} ? true : false"
          th:text ="${status}">
    </option>-->
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
</select>

<input type="hidden" th:field="*{createdAt}" >

<button type="submit">Update User</button>

</form>

</div>

</body>
</html>