<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Dashboard</title>
    <meta charset="UTF-8">

    <!-- Spring Boot CSS link -->
    <link rel="stylesheet" th:href="@{dashboard.css}">
</head>

<body>

        <div class="dashboard">

                 <div class="card title">
                  <h1>MIDTERM<br>OOP2</h1>
         </div>

             <a th:href="@{/create}" class="card pink">
                 <h3>Create new user</h3>
                    <span>➜</span>
             </a>

            <a th:href="@{/update}" class="card blue tall">
               <h3>Update user info</h3>
               <span>➜</span>
             </a>

             <a th:href="@{/users?mode=delete}" class="card blue">
              <h3>Delete user</h3>
              <span>➜</span>
             </a>

            <a th:href="@{/users_table}" class="card pink tall">
               <h3>View all users</h3>
               <span>➜</span>
            </a>

        </div>

</body>
</html>
